{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            {% for f in files %}
                <tr>
                    <td>{{ f.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
